body {
    font-family: 'Lato', sans-serif;
}

header {
    max-width: 960px;
    margin: 0 auto;
    background-image: url(../images/tomb.jpg);
    background-size: cover;
    height: 300px;
    padding-left: 1rem;
}

main, footer {
    max-width: 960px;
    margin: 0 auto;
}

header h1 {
    text-shadow: 0 0 5px rgb(139, 139, 139);
    font-size: 4rem;
    margin: 0;
    color: white;
}

header h2 {
    text-shadow: 0 0 5px rgb(139, 139, 139);
    margin: 0;
    font-size: 1.74rem;
    color: white;
}

main h1, main h2 {
    color: #2C2828;
}

ul li {
    margin: 0;
    padding: 0;
}

#stem {
    background-color: #705B70;
    padding: .5rem;
    color: white;
    border-bottom: 1px solid white;
}

.feedback {
    background-color: #705B70;
    padding: .5rem;
    color: white;
}

button {
    width: 100%;
    background-color: #3B490C;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    height: 2rem;
}

button:hover {
    background-color: #2a3508;   
}

button:focus {
    background-color: white;
    color: #3B490C;
}

footer {
    background-color: #131B2D;
    text-align: center;
    height: 40px;
    color: white;
}

footer p {
    padding: 8px;
}